<element name="gantt-chart-timeline" attributes="zoom startTimestamp secondsPerPixel panStartTimestamp showZoomControl">
    <template>
        <style>
            @host {
              * {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                display: block;
              }
            }

            #timeline {
                cursor: pointer;
                background-color: #8E44AD;
                position: relative;
                color:#FF0000;
            }

           


        </style>
        <div id="canvas_styling" style="color:#FFFFFF;display:none;" >Just for controlling the canvas styling. Must be a better way!</div>
        <div>
            <input type="range" min="0.1" max="5" step="0.1" value="{{zoom}}" style="display: none" id="zoomControl">

            <div id="timelineContainer">
                <div id="timeline" on-trackstart="trackStart" on-track="track" on-trackend="trackEnd">

                    <canvas id="timelineCanvas" width="100%" height="50"></canvas>

                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer.register(this, {
            zoom: 1.0,
            showZoomControl: false,
            startTimestamp: moment().startOf('month').unix(),
            secondsPerPixel: 864, // show 1 day as 100px when zoom is 1.0
            panStartTimestamp: moment().startOf('month').unix(),
            stage: null, // the KineticJS stage
            oldZoom: 1.0, // helps with "Scaling should the based on center of screen instead of left"
            timeline_fillcolor: "#FFFFFF",
            ready: function () {
                this.zoomChanged();
                this.showZoomControlChanged();

                timeline_fillcolor = this.$.canvas_styling.style.color;
               
                this.$.timeline.setAttribute('touch-action', 'pan-y');
            },
            insertedCallback: function () {
                this.reDrawTimeline();
            },
            reDrawTimeline: function () {
                "use strict";
                var width = this.$.timeline.clientWidth;
                if (width) {
                    var
                            timelineStartTimestamp = this.panStartTimestamp,
                            timelineEndTimestamp = timelineStartTimestamp + this.secondsPerPixel / this.zoom * width,
                            momentTimelineStartTimestamp = moment.unix(timelineStartTimestamp);
                    var canvas = this.$.timelineCanvas;
                    if (canvas && canvas.getContext) {
                        var ctx = canvas.getContext('2d');
                        canvas.width = width;
                        canvas.height = 50;
                        ctx.font = "normal 12px arial";
                        ctx.fillStyle = timeline_fillcolor;
                        ctx.textAlign = 'center';
                        var duration = timelineEndTimestamp - timelineStartTimestamp;


                        // Render days
                        var days = duration / (60 * 60 * 24);
                        var startDate = momentTimelineStartTimestamp.startOf('day');
                        var pixels_per_second = duration / width;
                        var startOffset = (startDate.unix() - timelineStartTimestamp) / pixels_per_second;
                        for (var offset = startOffset; offset < width; offset += (width / days)) {
                            ctx.beginPath();
                            ctx.moveTo(offset, 35);
                            ctx.lineTo(offset, 50);
                            ctx.lineWidth = 1;
                            ctx.strokeStyle = timeline_fillcolor;
                            ctx.stroke();
                            ctx.fillText(startDate.format('D ddd'), offset + (width / days) / 2, 47);
                            startDate.add('days', 1);
                        }


                        // Render Weeks
                        momentTimelineStartTimestamp = moment.unix(timelineStartTimestamp);
                        var weeks = duration / (60 * 60 * 24 * 7);
                        var startDate = momentTimelineStartTimestamp.startOf('week').day(0);
                        //var pixels_per_second = duration / width;
                        var startOffset = (startDate.unix() - timelineStartTimestamp) / pixels_per_second;
                        for (var offset = startOffset; offset < width; offset += (width / weeks)) {
                            ctx.beginPath();
                            ctx.moveTo(offset, 17);
                            ctx.lineTo(offset, 32);
                            ctx.lineWidth = 1;
                            ctx.strokeStyle = timeline_fillcolor;
                            ctx.stroke();
                            ctx.fillText("Week "+ startDate.format('w'), offset + (width / weeks) / 2, 30);
                            startDate.add('weeks', 1);
                        }


                    }
                }
            },
            panStartTimestampChanged: function () {
                this.reDrawTimeline();
            },
            zoomChanged: function () {
                "use strict";
                var centerTimestamp = this.panStartTimestamp + (this.applyZoom(this.$.timeline.clientWidth / 2, true, this.oldZoom));
                this.panStartTimestamp = centerTimestamp - (this.applyZoom(this.$.timeline.clientWidth / 2, true));
                this.oldZoom = this.zoom;
                this.reDrawTimeline();
            },
            showZoomControlChanged: function () {
                this.$.zoomControl.style.display = this.showZoomControl ? 'block' : 'none';
            },
            trackStart: function () {
                this.$.timeline.style.cursor = 'move';
                this.oldPanStartTimestamp = this.panStartTimestamp;
            },
            track: function (e) {
                this.newPanStartTimestamp = this.oldPanStartTimestamp - this.applyZoom(e.dx, true);
//                this.$.timeline.style.left = this.convertPanStartTimestampToCssLeft(this.newPanStartTimestamp);
                this.panStartTimestamp = this.newPanStartTimestamp;
            },
            trackEnd: function () {
                this.$.timeline.style.cursor = null;
                this.panStartTimestamp = this.newPanStartTimestamp;
                delete this.oldPanStartTimestamp, this.newPanStartTimestamp;
            },
            startTimestampChanged: function () {
                this.reDrawTimeline();
            },
            secondsPerPixelChanged: function () {
                console.warn('TODO');
            },
            applyZoom: function (value, reverse, customZoom) {
                customZoom = (typeof customZoom === "undefined") ? this.zoom : customZoom;
                if (reverse)
                    return value / customZoom * this.secondsPerPixel;
                return value * customZoom / this.secondsPerPixel;
            }
        });
    </script>
</element>
