<element name="gantt-chart-timeline" attributes="zoom startTimestamp secondsPerPixel panStartTimestamp showZoomControl">
    <template>
        <style>
            @host {
              * {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                display: block;
              }
            }

            #timeline {
                cursor: pointer;
                background-color: #8E44AD;
                position: relative;
            }
            input[type='range'] {
                -webkit-appearance: none !important;
                background:#34495E;
                height:26px;
            }
            input[type='range']::-webkit-slider-thumb {
                -webkit-appearance: none !important;
                    
                width:15px;
                height:15px;
                border-radius:50px;
                background:rgb(240, 61, 37);
                opacity:0.95;
            }
        </style>
        <div>
            <input type="range" min="0.1" max="5" step="0.1" value="{{zoom}}" style="display: none" id="zoomControl">

            <div id="timelineContainer">
                <div id="timeline" on-trackstart="trackStart" on-track="track" on-trackend="trackEnd">

                    <canvas id="timelinecanvas" width="100%" height="50" style='width:100%;height:50px'></canvas>

                 </div>
            </div>
        </div>
    </template>
    <script>
        Polymer.register(this, {
            zoom: 1.0,
            showZoomControl: false,
            startTimestamp: moment().startOf('month').unix(),
            secondsPerPixel: 864, // show 1 day as 100px when zoom is 1.0
            panStartTimestamp: moment().startOf('month').unix(),
            stage: null, // the KineticJS stage
            ready: function () {
                this.zoomChanged();
                this.showZoomControlChanged();

                this.$.timeline.setAttribute('touch-action', 'pan-y');
            },
            insertedCallback: function () {
                this.reDrawTimeline();
            },
            reDrawTimeline: function () {
                var width = this.$.timeline.clientWidth;
                if (width) {


                    const boxSize = 100;
                    var
                            timelineStartTimestamp = this.panStartTimestamp,
                            timelineEndTimestamp = timelineStartTimestamp + this.secondsPerPixel / this.zoom * width,
                            timelineDurationInSeconds = moment.unix(timelineEndTimestamp).diff(moment.unix(timelineStartTimestamp), 'seconds'),
                            timelineSecondsPerPixel = timelineDurationInSeconds / width,
                            unroundedNumberOfBoxes = width / boxSize,
                            numberOfBoxes = Math.ceil(unroundedNumberOfBoxes),
                            momentTimelineStartTimestamp = moment.unix(timelineStartTimestamp),
                            momentTimelineEndTimestamp = moment.unix(timelineEndTimestamp),
                            timelineRange = moment().range(momentTimelineStartTimestamp, momentTimelineEndTimestamp),
                            secondsInEachBox = timelineRange.valueOf() / unroundedNumberOfBoxes;

                    var canvas =  this.$.timelinecanvas;
                    //console.debug(canvas);
                    if (canvas && canvas.getContext){
                 
                    // use getContext to use the canvas for drawing
                    var ctx = canvas.getContext('2d');
                    
                    canvas.width  = width;
                    canvas.height = 50;

                    canvas.style.width=width;
                    canvas.style.height=50;

                    //console.debug(ctx);



                    ctx.font      = "normal 14px arial";
                    ctx.fillStyle = "#ffffff";
                   
                    cnt = 0;

                    var previousMoment = null, count = 0;
                    timelineRange.by(secondsInEachBox, function (aMoment) {
                        if (previousMoment) {
                            
                            x = count++ * boxSize;
                            

                            // I'm testing the performance here.
                            for(r=0;r<50;r++)
                            {
                                ctx.fillText(moment.unix((aMoment.unix() + previousMoment.unix()) / 2).format('LLLL') + r, x, r);
                                cnt++;
                            }
                            


                        }
                        previousMoment = aMoment;
                    });
                    delete previousMoment, count;

                  console.debug(cnt+" texts rendered");
                 
                  }


                    /*
                    const boxSize = 100;
                    var
                            timelineStartTimestamp = this.panStartTimestamp,
                            timelineEndTimestamp = timelineStartTimestamp + this.secondsPerPixel / this.zoom * width,
                            timelineDurationInSeconds = moment.unix(timelineEndTimestamp).diff(moment.unix(timelineStartTimestamp), 'seconds'),
                            timelineSecondsPerPixel = timelineDurationInSeconds / width,
                            unroundedNumberOfBoxes = width / boxSize,
                            numberOfBoxes = Math.ceil(unroundedNumberOfBoxes),
                            momentTimelineStartTimestamp = moment.unix(timelineStartTimestamp),
                            momentTimelineEndTimestamp = moment.unix(timelineEndTimestamp),
                            timelineRange = moment().range(momentTimelineStartTimestamp, momentTimelineEndTimestamp),
                            secondsInEachBox = timelineRange.valueOf() / unroundedNumberOfBoxes;
//                 

                    if (!this.stage) {
                        this.stage = new Kinetic.Stage({
                            container: this.$.timeline,
                            width: width,
                            height: 50
                        });
                    } else {
                        this.stage.clear();
                    }
                    layer = new Kinetic.Layer();

                    var previousMoment = null, count = 0;
                    timelineRange.by(secondsInEachBox, function (aMoment) {
                        if (previousMoment) {
                            var text = new Kinetic.Text({
                                text: moment.unix((aMoment.unix() + previousMoment.unix()) / 2).format('LLLL'),
                                fill: 'white',
                                width: boxSize,
                                x: count++ * boxSize,
                                align: 'center'
                            });
                            text.setY((50 - text.getHeight()) / 2);
                            layer.add(text);
                        }
                        previousMoment = aMoment;
                    });
                    delete previousMoment, count;

                    this.stage.add(layer);
                    */


                }
            },
            panStartTimestampChanged: function () {
                this.reDrawTimeline();
            },
            zoomChanged: function () {
                this.reDrawTimeline();
            },
            showZoomControlChanged: function () {
                this.$.zoomControl.style.display = this.showZoomControl ? 'block' : 'none';
            },
            trackStart: function (e) {
                this.$.timeline.style.cursor = 'move';
                this.oldPanStartTimestamp = this.panStartTimestamp;
            },
            track: function (e) {
                this.newPanStartTimestamp = this.oldPanStartTimestamp - this.applyZoom(e.dx, true);
//                this.$.timeline.style.left = this.convertPanStartTimestampToCssLeft(this.newPanStartTimestamp);
                this.panStartTimestamp = this.newPanStartTimestamp;
            },
            trackEnd: function (e) {
                this.$.timeline.style.cursor = null;
                this.panStartTimestamp = this.newPanStartTimestamp;
                delete this.oldPanStartTimestamp, this.newPanStartTimestamp;
            },
            startTimestampChanged: function () {
                this.reDrawTimeline();
            },
            secondsPerPixelChanged: function () {
                console.warn('TODO');
            },
            applyZoom: function (value, reverse) {
                if (reverse)
                    return value / this.zoom * this.secondsPerPixel;
                return value * this.zoom / this.secondsPerPixel;
            },
            convertPanStartTimestampToCssLeft: function (panStartTimestamp) {
                return (this.applyZoom(this.startTimestamp - panStartTimestamp)) + 'px'
            }
        });
    </script>
</element>
